src/main/mule/myfirstmulesoftproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6aba5874-bb1e-4165-8723-d2af036b2ed3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="myfirstmulesoftprojectFlow" doc:id="0bcc066e-3efc-48bd-bd55-d1866c5a951a" >
		<http:listener doc:name="Listener" doc:id="6b3c43ad-dc21-43d8-8725-cfa9446d4f54" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="799bc8af-d63e-4859-b515-a5f72a284dbc" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="68b5afc0-b6ea-493c-9e89-75505f12ca37" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"name": "yatinesh"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
